:root {
    --color-white: #fff;
    --color-black: #000;

    --color-unalike: #5523ef;

    --font-family-primary: 'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

    --font-size-ui-xs: 18px;
    --font-size-ui-s: 20px;
    --font-size-ui-m: 21px;
    --font-size-ui-d: 23px;
    --font-size-ui-l: 25px;
    --font-size-ui-xl: 27px;

    --font-size-ui-h1: 42px;
    --font-size-ui-h2: 38px;
    --font-size-ui-h3: 34px;
    --font-size-ui-h4: 30px;
    --font-size-ui-h5: 26px;
    --font-size-ui-h6: 23px;

    @media (max-width: 680px) {
        --font-size-ui-xs: 17px;
        --font-size-ui-s: 18px;
        --font-size-ui-m: 19px;
        --font-size-ui-d: 20px;
        --font-size-ui-l: 22px;
        --font-size-ui-xl: 24px;

        --font-size-ui-h1: 40px;
        --font-size-ui-h2: 36px;
        --font-size-ui-h3: 32px;
        --font-size-ui-h4: 28px;
        --font-size-ui-h5: 24px;
        --font-size-ui-h6: 20px;
    }

    --font-line-height: 1.4;
    --font-line-height-heading: 1.2;

    --color-background-content: #fff;
    --color-background-content-secondary: #f3f3f3;
    --color-background-content-dark: #1c1c1c;

    --color-text-head: #121212;
    --color-text-foot: #121212;

    --color-mobile-menu-background: #111;
    --color-mobile-menu-text: #fff;

    --color-text-content-title: #121212;
    --color-text-content-header: #121212;
    --color-text-content-body: #404043;
    --color-text-content-link: #000;
    --color-text-content-info: #848484;
    --color-text-content-tags: #848484;

    --color-text-content-media-caption: #b3b3b3;

    --color-text-content-quote: #404043;
    --color-text-content-quote-line: #ccc;
    --font-family-text-content-quote: 'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

    --color-background-content-code: #f5f2f0;

    --font-family-content-title: 'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    --font-family-content-date: 'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    --font-family-content-headers: 'Inter var', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

    --font-size-content-body: #{fontSizeScale(20, 22)};
    --font-size-content-caption: #{fontSizeScale(20, 22)};
    --font-size-content-code: #{fontSizeScale(20, 22)};

    --font-size-content-title: #{fontSizeScale(35, 60)};

    --font-size-content-header2: #{fontSizeScale(26, 36)};
    --font-size-content-header3: #{fontSizeScale(24, 32)};
    --font-size-content-header4: #{fontSizeScale(20, 28)};
    --font-size-content-header5: #{fontSizeScale(19, 23)};

    --font-size-content-list: #{fontSizeScale(20, 23)};
    --font-size-content-list-date: #{fontSizeScale(20, 23)};

    --font-size-text-content-quote: #{fontSizeScale(21, 25)};

    --dimension-content-width: #{sizeScale(400, 840)};
    --dimension-content-width-home: #{sizeScale(500, 940)};
    --dimension-content-padding: #{sizeScale(20, 30)};
    --dimension-content-padding-s: #{sizeScale(10, 20)};
    --dimension-content-padding-xs: #{sizeScale(5, 10)};
    --dimension-content-margin-vertical: #{sizeScale(10, 15)};
    --dimension-content-margin-vertical-large: #{sizeScale(15, 30)};
    --dimension-content-margin-vertical-xlarge: #{sizeScale(30, 50)};

    --dimension-content-body: #{sizeScale(375, 900)};
    --dimension-content-padding: #{sizeScale(20, 30)};
    --dimension-content-padding-vertical: #{sizeScale(5, 10)};
    --dimension-content-margin-vertical: #{sizeScale(10, 15)};
    --dimension-content-margin-vertical-large: #{sizeScale(15, 30)};
}

.day {
    --color-text-primary: #121212;
    --color-text-secondary: #b3b3b3;

    --color-background-content: #fff;
    --color-background-content-secondary: #f3f3f3;
    --color-background-content-dark: #1c1c1c;

    --color-text-head: #121212;
    --color-text-foot: #121212;

    --color-text-content-title: #121212;
    --color-text-content-header: #121212;
    --color-text-content-body: #404043;
    --color-text-content-link: #2e00ff;

    --color-text-content-media-caption: #b3b3b3;

    --color-border: #0b0c0c;
    --color-border-placeholder: #c9c9c9;

    --color-text-content-quote: #121212;
    --color-text-content-quote-line: #ccc;
}
