html {
    font-size: 20px;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

body {
    background: var(--color-background-content);
    font-weight: 400;
    font-size: var(--font-size-ui-d);
    line-height: var(--font-line-height);
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-primary);
    -webkit-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
    font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
}

footer,
div,
header,
input,
form,
article,
main {
    box-sizing: border-box;
}

.inner {
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

section {
    .inner {
        padding: 20px 40px 120px;

        @media (max-width: 680px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

